@charset "UTF-8";
form.container section div.input input[type=email][data-v-bdf4e790],
form.container section div.input input[type=password][data-v-bdf4e790],
form.container section div.input input[type=text][data-v-bdf4e790]{
	display:block;
	box-sizing:border-box;
	margin-top:4px;
	padding:8px;
	border:1px solid #ededed;
	border-radius:12px;
	width:100%;
	height:40px;
	line-height:24px;
	color:#292929;
	font-size:16px;
	background-color:#f9f9f9;
	background-repeat:no-repeat;
	background-position:right 8px center;
	background-size:24px 24px
}
body.appwebview form.container[data-v-bdf4e790]{
	padding-top:0
}
@media only screen and (min-width: 780px){
	form.container[data-v-bdf4e790]{
	padding-top:80px
	}
}
@media only screen and (max-width: 779px){
	form.container[data-v-bdf4e790]{
	padding-top:56px
	}
}
form.container section[data-v-bdf4e790]{
	padding:24px
}
@media only screen and (min-width: 780px){
	form.container section[data-v-bdf4e790]{
	box-sizing:border-box;
	border:1px solid #ededed;
	border-radius:12px;
	margin:24px auto 0 auto;
	width:480px
	}
}
@media only screen and (min-width: 780px){
	form.container section h1[data-v-bdf4e790]{
	line-height:30px;
	color:#292929;
	font-size:22px;
	font-weight:bold
	}
}
@media only screen and (max-width: 779px){
	form.container section h1[data-v-bdf4e790]{
	display:none
	}
}
form.container section div.input[data-v-bdf4e790]{
	margin-top:24px
}
@media only screen and (max-width: 779px){
	form.container section div.input[data-v-bdf4e790]:first-of-type{
	margin-top:-8px
	}
}
form.container section div.input div.label[data-v-bdf4e790]{
	display:flex;
	padding:0 8px
}
form.container section div.input div.label label[data-v-bdf4e790]{
	flex:auto;
	line-height:20px;
	color:#737373;
	font-size:12px;
	font-weight:bold
}
form.container section div.input div.label p[data-v-bdf4e790]{
	flex-shrink:0;
	line-height:20px;
	color:#a6a6a6;
	font-size:12px
}
form.container section div.input input[type=email][data-v-bdf4e790]:focus,
form.container section div.input input[type=password][data-v-bdf4e790]:focus,
form.container section div.input input[type=text][data-v-bdf4e790]:focus{
	background-color:#fff
}
form.container section div.input input[type=email].caution[data-v-bdf4e790],
form.container section div.input input[type=password].caution[data-v-bdf4e790],
form.container section div.input input[type=text].caution[data-v-bdf4e790]{
	background-image:url("/images/register.input.caution.png")
}
form.container section div.input input[type=email].pass[data-v-bdf4e790],
form.container section div.input input[type=password].pass[data-v-bdf4e790],
form.container section div.input input[type=text].pass[data-v-bdf4e790]{
	background-image:url("/images/register.input.pass.png")
}
form.container section div.input div.caution[data-v-bdf4e790]{
	margin:4px 0 0 8px;
	line-height:20px;
	color:#c62917;
	font-size:12px
}
form.container section div.rules p[data-v-bdf4e790]{
	margin-top:24px;
	line-height:18px;
	color:#737373;
	font-size:12px
}
form.container section div.rules p span.caution[data-v-bdf4e790]{
	color:#c62917
}
form.container section input[type=submit][data-v-bdf4e790]{
	margin-top:24px;
	border:0;
	border-radius:12px;
	width:100%;
	height:40px;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	background-color:#c62917
}

