@charset "UTF-8";
form.container section div.input input{
	display:block;
	box-sizing:border-box;
	margin-top:4px;
	padding:8px;
	border:1px solid #ededed;
	border-radius:12px;
	width:100%;
	height:40px;
	line-height:24px;
	color:#292929;
	font-size:16px;
	background-color:#f9f9f9;
	background-repeat:no-repeat;
	background-position:right 8px center;
	background-size:24px 24px}
body.appwebview form.container={padding-top:0}
@media only screen and (min-width: 780px){
	form.container{
	padding-top:80px
	}
}
@media only screen and (max-width: 779px){
	form.container{
	padding-top:56px
	}
}
form.container section{
	padding:24px
}
@media only screen and (min-width: 780px){
	form.container section{
	box-sizing:border-box;
	border:1px solid #ededed;
	border-radius:12px;
	margin:24px auto 0 auto;width:480px
	}
}
@media only screen and (min-width: 780px){
	form.container section h1{
	line-height:30px;
	color:#292929;
	font-size:22px;
	font-weight:bold
	}
}
@media only screen and (max-width: 779px){
	form.container section h1{
	display:none
	}
}
form.container section div.input{
	margin-top:24px
}
@media only screen and (max-width: 779px){
	form.container section div.input:first-of-type{
	margin-top:-8px
	}
}
form.container section div.input div.label{
	display:flex;
	padding:0 8px
}
form.container section div.input div.label label{
	flex:auto;
	line-height:20px;
	color:#737373;
	font-size:12px;
	font-weight:bold
}
form.container section div.input div.label p{
	flex-shrink:0;
	line-height:20px;
	color:#a6a6a6;
	font-size:12px
}
form.container section div.input input:focus{
	background-color:#fff
}
form.container section div.input input.caution{
	background-image:url("/images/register.input.caution.png")
}
form.container section div.input input.pass{
	background-image:url("/images/register.input.pass.png")
}
form.container section div.input div.caution{
	margin:4px 0 0 8px;
	line-height:20px;
	color:#c62917;
	font-size:12px
}
form.container section div.rules p{
	margin-top:24px;
	line-height:18px;
	color:#737373;
	font-size:12px
}
form.container section div.rules p span.caution{
	color:#c62917
}
form.container section input{
	margin-top:24px;
	border:0;
	border-radius:12px;
	width:100%;
	height:40px;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	background-color:#c62917
}
